/* 
  
  .SentBox {
    height: 90vh;
    display: flex;

    padding: 5px;
    padding-left: 200px;
    padding-top: 50px;
  }

  .SentBox ul {
    list-style:none;
    padding: 0;
    margin: 0;
  }
  
  .subject ,.recipients{
    margin: 0;
    font-size: 16px;
    white-space: nowrap;       
    overflow: hidden;         
    text-overflow: ellipsis;  
    max-width: 220px;
  }
  

  .SentBox li {
    border: 1px solid #ddd;
    border-top: none;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }

  .SentBox li:hover {
    background-color: #f7f7f7;
    transform: translateY(-2px);
    font-weight: bold;
  }

   .div {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
  } 

  .SentBox li p {
    margin: 0;
    font-size: 16px;
  }

.Mail-List {
    height: 90vh;
    width: 50%; 
    border-right: 1px solid #ddd;
    padding: 0px;
    overflow-y: auto; 
    position: relative;
  }

  .button .pagination {
    display: inline-block; 
  }
  
  .button button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;


  }
  
  .button{
    position: absolute;


    bottom: 1px; 
    left: 50%; 
    transform: translateX(-50%);   text-align: center; 
  }

  
  
  .pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  

  .Viewing-Mail {
    display: flex;
    flex-direction: column;
    height: 88vh;

    background-color: #f9f9f9;
    border-left: 1px solid #ddd;
  }
  
  .Mail-Content {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .Mail-Content h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .Mail-Content p {
    font-size: 16px;
    margin: 5px 0;
  }
  
  .Mail-Content hr {
    margin: 10px 0;
    border: none;
    border-top: 1px solid #ddd;
  }
  
  .mail-content-html {
    margin-top: 10px;
    white-space: pre-line;
  }
   */


   .selected-mail-background{
    background: black;
  }
  .SentBox {

    display: flex;

    padding: 5px;
    padding-left: 200px;
    padding-top: 50px;
  }

  .SentBox ul {
    list-style:none;
    padding: 0;
    margin: 0;
  }
  
  /* .subject ,.recipients{
    margin: 0;
    font-size: 16px;
    white-space: nowrap;       
    overflow: hidden;         
    text-overflow: ellipsis;  
    max-width: 220px;
  } */
  

  .SentBox li {
    border: 1px solid #ddd;
    border-top: none;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }

  .SentBox li:hover {
    background-color: #f7f7f7;
    transform: translateY(-2px);
    /* font-weight: bold; */
  }

   /* .div {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
  }  */

  .SentBox li p {
    margin: 0;
    font-size: 16px;
  }

/* .Mail-List {
    height: 90vh;
    width: 50%; 
    border-right: 1px solid #ddd;
    padding: 0px;
    overflow-y: auto; 
    position: relative;
  } */

  /* .button .pagination {
    display: inline-block; 
  } */
  
  /* .button button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;


  } */
  
  .button{
    position: absolute;


    bottom: 1px; 
    left: 34%; 
    padding-bottom: 10px;
    transform: translateX(-50%); 
    text-align: center; 
  }

  
  
  .pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  

  /* .Viewing-Mail {
    display: flex;
    flex-direction: column;
    height: 88vh;

    background-color: #f9f9f9;
    border-left: 1px solid #ddd;
  } */
  
  .Mail-Content {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .Mail-Content h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .Mail-Content p {
    font-size: 16px;
    margin: 5px 0;
  }
  
  .Mail-Content hr {
    margin: 10px 0;
    border: none;
    border-top: 1px solid #ddd;
  }
  
  /* .mail-content-html {
    margin-top: 10px;
    white-space: pre-line;
  } */
  