/* 

  .Viewing-Mail {
    height: 90vh;
    flex: 1;


  padding-bottom: 17px;
    background-color: #f9f9f9;
    border-left: 1px solid #ddd;
    overflow-y: auto;
  }
  
  .trash {
    display: flex;

    padding: 5px;
    padding-left: 200px;
    padding-top: 50px;
  }

  .trash ul {
    list-style:none;
    padding: 0;
    margin: 0;
  }

  .trash li {
    border: 1px solid #ddd;
    border-top: none;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }

  .trash li:hover {
    background-color: #f7f7f7;
    transform: translateY(-2px);
    font-weight: bold;
  }

    .subject,.sender{
    margin: 0;
    font-size: 16px;
    white-space: nowrap;       
    overflow: hidden;         
    text-overflow: ellipsis;  
    max-width: 300px;
  }
  

   .div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .trash li p {
    margin: 0;
    font-size: 16px;
  }

.Mail-List {

    width: 50%; 
    border-right: 1px solid #ddd;
    padding: 0px;
    overflow-y:auto; 
  }

  .pagination {
    display: flex;

    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination button {
    background-color: #007bff;


    color: #fff;
    border: none;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  .mail-content-html {
    margin-top: 10px;
    white-space: pre-line;
  }
   */





  .Viewing-Mail {
    height: 90vh;
    flex: 1;


  padding-bottom: 17px;
    background-color: #f9f9f9;
    border-left: 1px solid #ddd;
    overflow-y: auto;
  }
  
  .trash {
    display: flex;

    padding: 5px;
    padding-left: 200px;
    padding-top: 50px;
  }

  .trash ul {
    list-style:none;
    padding: 0;
    margin: 0;
  }

  .trash li {
    border: 1px solid #ddd;
    border-top: none;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }

  .trash li:hover {
    background-color: #f7f7f7;
    transform: translateY(-2px);

  }

    .subject,.sender{
    margin: 0;
    font-size: 16px;
    white-space: nowrap;       
    overflow: hidden;         
    text-overflow: ellipsis;  
    max-width: 400px;
  }
  

   /* .div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  } */

  /* .trash li p {
    margin: 0;
    font-size: 16px;
  } */

.Mail-List {

    width: 50%; 
    border-right: 1px solid #ddd;
    padding: 0px;
    overflow-y:auto; 
  }

  /* .pagination {
    display: flex;

    justify-content: center;
    margin-top: 20px;
  }
   */
  .pagination button {
    background-color: #007bff;


    color: #fff;
    border: none;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
  }
  
  /* .pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  } */
  .mail-content-html {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    white-space: pre-line;
  }
  .selected-mail-background {
    background: black;
  }