.login-div{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding-top: 150px;
}
.login
{
    max-width: 3000px;
    width: 350px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}
 h2 {
    text-align:start;
    margin-bottom: 20px;
  }
  
  .login label {
    display: block;
    margin-bottom: 8px;
  }
  
  .login input[type="text"],
  .login input[type="password"] {
    width: 70%;
    font-size: medium;
    font-weight:lighter;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login button {
    display: block;
    width: 150px;
    padding: 10px;
    /* margin-left: 100px; */
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login button:hover {
    background-color: #0056b3;
  }
  
  /* .login p {
    color: red;
    margin-top: 10px;
  } */
  
  /* Center the login form on the page */
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color:white;
  }

  .link
  {
    color: blue;
  }

