
html,
body {
  height: 100vh;
  margin: 0;
  overflow-x: hidden; 
}

.App {
  width: 100vw; 
  height: 100vh;
  /* display: flex; */
  /* align-items: center;
  justify-content: center;
  flex-direction: column; */
  background-color: white; 
  margin: 0; 
}

